<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <div class="detail">
            <div class = "main">
                <p class = "blo"><%=data.main%></p>
            </div>
            <div class = "del">
                <% if(user.googleId){ %>
                    <a class = "delete" data-doc="<%= data._id%> " google="true">Delete</a>
                <% }else{ %>
                    <a class = "delete" data-doc="<%= data._id%> " google="false">Delete</a>
                <% } %>
            </div>
        </div>
        <%- include('../public/partials/footer') %>
        <script>
            const trashcan = document.querySelector('a.delete');
            trashcan.addEventListener('click',(e)=>{
                let g = trashcan.getAttribute("google");
                if(g == "true"){
                    const endpoint=`/guser/blogs/${trashcan.dataset.doc}`;
                }else{
                    const endpoint = `/blogs/${trashcan.dataset.doc}`;
                }
                fetch(endpoint,{
                    method:'DELETE'
                }).then((response)=>response.json())
                .then((data)=>window.location.href=data.redirect)
                .catch((err)=>{console.log(err);})
            })
        </script>
    </body>
</html>