<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <div class="detail">
            <div class = "main">
                <%= data.main%>
            </div>
            <div class = "del">
                 <a class = "delete" data-doc="<%= data._id%>">Delete</a>
            </div>
        </div>
        <%- include('../public/partials/footer') %>
        <script>
            const trashcan = document.querySelector('a.delete');
            trashcan.addEventListener('click',(e)=>{
                const endpoint=`/blogs/${trashcan.dataset.doc}`;
                fetch(endpoint,{
                    method:'DELETE'
                }).then((response)=>response.json())
                .then((data)=>window.location.href=data.redirect)
                .catch((err)=>{console.log(err);})
            })
        </script>
    </body>
</html>