<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
       <div class="blog-container">
        
        <%if(data.length>0){ %> 
            <div class="create-div">
                <button class="create" onclick="window.location.href='/create';">
                    <i class='fas fa-plus-circle' style='font-size:14vmin;'></i>
                </button>
            </div>
            <%data.forEach(data=>{%>
                <div class="blogg">
                <a class ="nav" href='/blogs/<%= data._id%>'>
                <div class="title">
                    <%= data.title %>
                </div>
                </a>
                <div class="blog-contents">
                    <div class="content">
                        <%- data.main %>
                    </div>   
                    ...
                </div>
            </div>
            <%})%> 
        <%}else{%>
            <p class="empty-contents">No Blogs to Display !</p>
       <% }%>
       </div>
    
       <%- include('../public/partials/footer') %>
       <%- include('../public/partials/script') %>
</html>